{% extends 'dashboard.html' %}
{% load crispy_forms_tags %}
{% block title %}Crear Form{% endblock %}
{% load static %}
{% block content %}

<div class="container no-gutters p-lg-5 p-3 font ">
  <div class="no-gutte container p-lg-5 p-0">
    <h1 class="text-center pb-2 colortitle titlesuperior">REGISTRADO DE ACTA DEFENSA VÍA DIPLOMADO</h1>
    
    <article class="pb-2 colortext" >
      <form id="pot" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="fechas fontI">
            <div class="row mb-3">
                {{ form.non_field_errors }}
                {{ form.errors }}
            </div>
            
            <div class="row mb-1">
                <div class="col-md-8">
                  
                    {{ form.estudiante|as_crispy_field }}
                </div>
                <div class="col-md-4">
                    
                    {{ form.carrera|as_crispy_field }}
                </div>
            </div>
    
            <div class="row mb-1">
                <div class="col-md-2">
                  
                    {{ form.lugar|as_crispy_field }}
                </div>
                <div class="col-md-2 ">
                
                    {{ form.acta|as_crispy_field }}
                </div>
                <div class="col-md-2">
                    <label for="{{ form.perperiodo.id_for_label }}" class="form-label">Periodo</label>
                    <select name="perperiodo" class="form-control">
                        {% for periodo in ultimos_periodos %}
                            <option value="{{ periodo.id }}">{{ periodo }}</option>
                        {% endfor %}
                    </select>
                </div>
               
                <div class="col-md-6">
                    {{ form.presidente|as_crispy_field }}
                </div>
            </div>
    
            <div class="row mb-1">
                <div class="col-md-12">
                    {{ form.titulo|as_crispy_field }}
                </div>
                
            </div>
    
            <div class="row mb-1">
                <div class="col-md-4">
                  
                    {{ form.fechadefensa|as_crispy_field }}
                </div>
                <div class="col-md-4">
                  
                    {{ form.horainicio|as_crispy_field }}
                </div>
                <div class="col-md-4">
                    
                    {{ form.horafin|as_crispy_field }}
                </div>
            </div>
    
            <div class="row mb-1">
                <div class="col-md-4">
                   
                    {{ form.secretario|as_crispy_field }}
                </div>
                <div class="col-md-4">
                   
                    {{ form.vocal_1|as_crispy_field }}
                </div>
                <div class="col-md-4">
                    {{ form.vocal_2|as_crispy_field }}
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-md-4">
                    
                    {{ form.modalidad|as_crispy_field }}
                </div>
                <div class="col-md-2">
                    
                    {{ form.valor_1|as_crispy_field }}
                </div>
                <div class="col-md-2">
                    
                    {{ form.valor_2|as_crispy_field }}
                </div>
                <div class="col-md-2">
                    
                    {{ form.valor_3|as_crispy_field }}
                </div>
                <div class="col-md-2 pt-1">
                    {{ form.totalnota.label_tag }}<br>
                    <input type="number" id="id_totalnota" name="totalnota" value="{{ form.totalnota.value }}" class="form-control" min="0" max="100" readonly>
                </div>
                {% comment %} <div class="col-md-2">
                  
                    {{ form.totalnota|as_crispy_field }} class="form-control" min="0" max="100" readonly
                </div> {% endcomment %}
            </div>
        <br>
        <input  class="btn btn-dark me-2 fontII" type="submit" value="Enviar Información">
        <a class="btn btn-secondary fontII" href="{% url 'dashboard' %}">Cancelar</a>
      </form>
      <br>
    </article>
  </div> 
</div><br>


<!-- Modal de confirmación -->
<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-mdal">
      <div class="modal-header">
        <h5 class="modal-title font" id="confirmationModalLabel"> Confirmacion de Formulario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center font">
        <img src="{% static 'img/confi.png' %}" class="img-close" alt="" /><br>
        ¡Formulario Enviado con Exito!
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {    
        const juradoSelects = [
          document.getElementById('id_secretario'),
          document.getElementById('id_vocal_1'),
          document.getElementById('id_vocal_2')
        ];
      
        // Actualiza las opciones disponibles para los jurados
        function updateJuradoOptions() {
          const selectedValues = juradoSelects.map(select => select.value);
          juradoSelects.forEach(select => {
            Array.from(select.options).forEach(option => {
              option.hidden = selectedValues.includes(option.value) && option.value !== select.value;
            });
          });
        }  
        // Agregar evento change para cada select de jurados
        juradoSelects.forEach(select => {
          select.addEventListener('change', updateJuradoOptions);
        });
      
        // Ejecutar la función al cargar la página para ocultar opciones seleccionadas previamente
        updateEstudianteOptions();
        updateJuradoOptions();
    });

    function showConfirmationModal(event) {
    event.preventDefault(); 
    $('#confirmationModal').modal('show'); 
    
    setTimeout(function() {
      $('#confirmationModal').modal('hide'); 
      document.getElementById("pot").submit(); 
    }, 2000);
  }

  
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const valor1 = document.getElementById("id_valor_1");
        const valor2 = document.getElementById("id_valor_2");
        const valor3 = document.getElementById("id_valor_3");
        const totalNota = document.getElementById("id_totalnota");

        function actualizarTotal() {
            const v1 = parseFloat(valor1.value) || 0;
            const v2 = parseFloat(valor2.value) || 0;
            const v3 = parseFloat(valor3.value) || 0;

            const suma = v1 + v2 + v3;

            // Redondear el resultado a un número entero
            totalNota.value = Math.round(suma);
        }

        valor1.addEventListener("input", actualizarTotal);
        valor2.addEventListener("input", actualizarTotal);
        valor3.addEventListener("input", actualizarTotal);
    });
</script>
{% endblock %}


