{% extends 'dashboard.html' %}
{% load static %}
{% block content %}
<div class="container no-gutters px-lg-5 px-1 ">
    <h1 class="titlesuperior colortext py-4">Reporte Investigaciones Científicas <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" fill="currentColor" class="bi bi-mortarboard-fill" viewBox="0 0 16 16">
        <path d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917z"/>
        <path d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466z"/>
    </svg></h1>
    
    <!-- Formulario de búsqueda -->
    <form method="GET" action="">
        <div class="row">
            <div class="col-lg-10 col-8 form-group">
                <input type="text" name="q" class="form-control" placeholder="Buscar por nombre del estudiante">
            </div>
            <div class="col-lg-1 col-3 mt-1">
                <button type="submit" class="btn btn-primary px-lg-3 ">Buscar</button>
            </div>
            
        </div>
    </form>
    <div class="btn-group" role="group" aria-label="Basic example">
        <a href="{% url 'home_reporte' %}" class="btn btn-outline-primary"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-house-check-fill" viewBox="0 0 16 16">
            <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z"/>
            <path d="m8 3.293 4.712 4.712A4.5 4.5 0 0 0 8.758 15H3.5A1.5 1.5 0 0 1 2 13.5V9.293z"/>
            <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.707l.547.547 1.17-1.951a.5.5 0 1 1 .858.514"/>
        </svg></a>
    
        <form method="GET" action="{% url 'Pdf_Reporte_InvFiltrado' %}" target="_blank">
            <div class="">
                <input type="hidden" name="q" value="{{ query }}">
                <button type="submit" class="btn-outline-primary btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-journal-text" viewBox="0 0 16 16">
                        <path d="M5 10.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5m0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5"/>
                        <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2"/>
                        <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1z"/>
                      </svg> Reporte General</button>
            </div> 
        </form>
        <form action="{% url 'exportar_excel' %}" method="get">
            <button type="submit" class="btn btn-outline-success">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-journal-text" viewBox="0 0 16 16">
                    <path d="M5 10.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5m0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5"/>
                    <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2"/>
                    <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1z"/>
                  </svg> Exportar Reporte General a Excel</button>
        </form>
    </div>
    <hr>
    <!-- Mostrar todas las actividades científicas relacionadas -->
    {% if page_obj %}
        {% for actividad in page_obj %}
            <div class=" no-guttee mb-5 fontI">
                <div class="row py-5">
                    <div class="col-md-8 px-5 text-wrap">
                        <p class="fecha colorestados ">Fecha: {{ actividad.invfecha_creacion|date:"d/m/Y" }}</p>
                        <p class="title colortitle">Título: {{ actividad.invtitulo }}</p>
                        
                        <h5 class="text colortext" id="universitarios">
                            <p class="text colorestados">Nombre Egresado:</p>
                            <p class="estudianteUno colortext">{{ actividad.user_uno }}</p>
                            <p id="estudiante" class="colortext">{{ actividad.user }}</p>
                        </h5>
                        
                        <p class="text colortext ">Descripción: {{ actividad.invdescripcion }}</p>
                        <p class="text colorestados ">El Documento Fue: {{ actividad.investado }} </p>
                        <a href="{% url 'pdf_reporteinv' actividad.id %}" class="fontII btn btn-outline-primary" target="_blank">Generar Reporte del Estudiante</a>
                    </div>
                    <div class="col-md-4 pt-4 d-flex flex-column align-items-center">
                        <div class="image-container" id="fotoContainer">
                            {% if actividad.user.imagen %}
                            <div class="image-containerr">
                                {% if actividad.user_uno and actividad.user_uno.imagen %}
                                    <img src="{{ actividad.user_uno.imagen.url }}" alt="" class="image-left">
                                {% endif %}
                                <img src="{{ actividad.user.imagen.url }}" alt="" class="image-right">
                            </div>
                            {% else %}
                            <img id="sinFoto" src="{% static 'img/SINFOTO.webp' %}" class="imgrepo" alt="Sin foto" style="display: none;">
                            {% endif %}
                        </div>
                    
                        <script>
                            document.addEventListener('DOMContentLoaded', function() {
                                const fotoContainer = document.getElementById('fotoContainer');
                                const sinFoto = document.getElementById('sinFoto');
                                const estudiantes = document.querySelectorAll('.estudianteUno'); // Selecciona todos los elementos con la clase estudianteUno
                            
                                // Mostrar "Sin Foto" solo si el contenedor de fotos no tiene imágenes visibles
                                const images = fotoContainer.getElementsByTagName('img');
                                let hasVisibleImage = false;
                            
                                for (let img of images) {
                                    if (img.style.display !== 'none') {
                                        hasVisibleImage = true;
                                        break;
                                    }
                                }
                            
                                if (!hasVisibleImage) {
                                    sinFoto.style.display = 'block';
                                }
                            
                                // Ocultar elementos de estudianteUno si su contenido está vacío, es "None", o contiene solo espacios en blanco
                                estudiantes.forEach(estudiante => {
                                    const textContent = estudiante.textContent.trim().toLowerCase();
                                    if (!textContent || textContent === 'none') {
                                        estudiante.style.display = 'none';
                                    }
                                });
                            });
                        </script>
                    </div>
                    
                </div>
            </div>
        {% endfor %}

        <!-- Paginación -->
        <nav>
            <ul class="pagination">
                {% if page_obj.has_previous %}
                   
                    <li class="page-item"><a class="btn btn-sm btn-dark" href="?page={{ page_obj.previous_page_number }}{% if query %}&q={{ query }}{% endif %}">Anterior</a></li>
                {% endif %}

                <li class="page-item active"><a class="btn btn-sm btn-light">{{ page_obj.number }}</a></li>

                {% if page_obj.has_next %}
                    <li class="page-item"><a class="btn btn-sm btn-dark me-1" href="?page={{ page_obj.next_page_number }}{% if query %}&q={{ query }}{% endif %}">Siguiente</a></li>
                
                {% endif %}
            </ul>
        </nav><br>
    {% else %}
        <p>No se encontraron actividades científicas.</p>
    {% endif %}
</div><br>
{% endblock %}