{% extends 'dashboard.html' %}
{% load static %}
{% block content %}
<div class="container no-gutters px-lg-5 px-1">
    <h1 class="titlesuperior colortext py-4">Reporte Defensa Examen de Grado
        <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" fill="currentColor" class="bi bi-mortarboard-fill" viewBox="0 0 16 16">
            <path d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917z"/>
            <path d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466z"/>
        </svg>
    </h1>
    
    <!-- Formulario de búsqueda -->
    <form method="GET" action="">
        <div class="row">
            <div class="col-lg-10 col-8 form-group">
                <input type="text" name="q" class="form-control" placeholder="Buscar por nombre del estudiante">
            </div>
            <div class="col-lg-1 col-3 mt-1">
                <button type="submit" class="btn btn-primary px-lg-3">Buscar</button>
            </div>
        </div>
    </form>
   
    <hr>
    
    <!-- Mostrar todas las actividades científicas relacionadas -->
    {% for acta in actas %}
    <div class="no-guttee mb-5 fontI">
        <div class="row py-5">
            <div class="col-md-9 px-lg-5 px-4 text-wrap">
                <!-- Your existing content for displaying actas -->
                <div class="row">
                    <div class="col-lg-4 col-12 text-lg-start text-center">
                        <p class="fecha colortext ">Fecha: <span class="colorestados">{{ acta.fechadefensa|date:"d/m/Y" }} - {{ acta.lugar }}</span></p>
                    </div>
                    <div class="col-lg-4 col-12 text-lg-start text-center">
                        <p class="fecha colortext ">Hora de: <span class="colorestados"> {{ acta.horainicio }}</span> a: <span class="colorestados"> {{ acta.horafin }}</span></p>
                    </div>
                    <div class="col-lg-4 col-12 text-lg-start text-center">
                        <p class="fecha colortext ">Periodo y Gestión: <span class="colorestados"> {{ acta.perperiodo }}</span></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-12 text-lg-start text-center">
                        <p class="fecha colortext ">N° Acta: <span class="colorestados">{{ acta.acta }}</span></p>
                    </div >
                    <div class="col-lg-4 col-12 text-center">
                        <p class="fecha colortext ">Facultad: {{ acta.carrera.facultad.nombre }}</p>
                    </div>
                    <div class="col-lg-4 col-12 text-center">
                        <p class="fecha colortext ">Carrera: {{ acta.carrera }}</p>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-lg-4 col-12 text-lg-start text-center">
                        <p class="fecha colortext ">Presidente:<br> {{ acta.presidenteacta.nombre }} {{ acta.presidenteacta.apellido }} {{ acta.presidenteacta.apellidoM }}</p>
                    </div >
                    <div class="col-lg-4 col-6 text-lg-start text-center">
                        <p class="fecha colortext ">Modalidad:<br> {{ acta.modalidad }}</p>
                    </div>
                    <div class="col-lg-4 col-6 text-lg-start text-center">
                        <p class="fecha colortext ">Calificación:<br><span class="colorestados">Nota de {{ acta.totalnota }} pts.</span></p>
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-6 text-lg-start text-center">
                        <p class="fecha colortext ">1er. Tribunal<br> {{ acta.jurado_1.nombre }} {{ acta.jurado_1.apellido }} {{ acta.jurado_1.apellidoM }}</p>
                    </div >
                    <div class="col-lg-4 col-6 text-lg-start text-center">
                        <p class="fecha colortext ">2do. Tribunal<br> {{ acta.jurado_2.nombre }} {{ acta.jurado_2.apellido }} {{ acta.jurado_2.apellidoM }}</p>
                    </div>
                    <div class="col-lg-4 col-6 text-lg-start text-center">
                        <p class="fecha colortext ">3er. Tribunal:<br> {{ acta.jurado_3.nombre }} {{ acta.jurado_3.apellido }} {{ acta.jurado_3.apellidoM }}</p>
                        
                    </div>
                </div>
                <p class="no-guttee py-2 col-lg-5 col-12 text-center">
                    {% if acta.docrespaldo %}
                        <a href="{{ acta.docrespaldo.url }}" class=" text-center list-group-item list-group-item-action" target="_blank">
                            Acta Confirmada
                        </a>
                    {% else %}
                        <span class="text-muted">Sin Confirmación de Acta</span>
                    {% endif %}
                </p>
                
                
            </div>
            <div class="col-md-3 pt-1 d-flex flex-column align-items-center">
                <div class="image-container" id="fotoContainer">
                    {% if acta.estudiante.imagen %}
                    <div class="image-containerr">
                        <img src="{{ acta.estudiante.imagen.url }}" alt="" class="image-right">
                    </div>
                    {% else %}
                    <img id="sinFoto" src="{% static 'img/SINFOTO.webp' %}" class="imgrepo" alt="Sin foto" style="display: none;">
                    {% endif %}
                </div>
                <h5 class="text colortext pt-3 text-center">
                    <p class="text colorestados">Nombre Egresado:</p>
                    <p id="nombre3" class="title colortext" style="display: block;">{{ acta.estudiante }}</p>
                </h5>
                
                
                {% if acta.pk %}
                <a class="btn btn-sm btn-primary fontII" href="{% url 'Pdf_ReporteActaGrado' pk=acta.pk %}"target="_blank">General Reporte Acta</a><br>
                {% else %}
                <span>No Acta available</span>
                {% endif %}
                <a href="{% url 'Acta_grado_doc' acta.id %}" class="btn btn-sm btn-success fontII" data-bs-toggle="modal" data-bs-target="#editDocModal" data-url="{% url 'Acta_grado_doc' acta.id %}">Subir Acta Firmada</a>
            </div>
        </div>
    </div>
    {% endfor %}
    
    <!-- Paginación -->
    <nav>
        <ul class="pagination">
            {% if actas.has_previous %}
                
                <li class="page-item"><a class="btn btn-sm btn-dark" href="?page={{ actas.previous_page_number }}{% if query %}&q={{ query }}{% endif %}">Anterior</a></li>
            {% endif %}

            <li class="page-item active"><a class="btn btn-sm btn-light">{{ actas.number }}</a></li>

            {% if actas.has_next %}
                <li class="page-item"><a class="btn btn-sm btn-dark me-1" href="?page={{ actas.next_page_number }}{% if query %}&q={{ query }}{% endif %}">Siguiente</a></li>
               
            {% endif %}
        </ul>
    </nav><br>
</div><br>
<div class="modal fade" id="editDocModal" tabindex="-1" aria-labelledby="editDocModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title fontI" id="editDocModalLabel">Agregar Acta Firmada Defensa Examen de Grado</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
        
        </div>
      </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const editDocModal = document.getElementById('editDocModal');
        
        editDocModal.addEventListener('show.bs.modal', function (event) {
          const button = event.relatedTarget;
          const url = button.getAttribute('data-url');
      
          fetch(url, {
            headers: {
              'x-requested-with': 'XMLHttpRequest'
            }
          })
          .then(response => response.text())
          .then(html => {
            editDocModal.querySelector('.modal-body').innerHTML = html;
          });
        });
      
        // Enviar el formulario mediante AJAX
        document.addEventListener("submit", function(event) {
          if (event.target && event.target.id === "editDocForm") {
            event.preventDefault();
            const form = event.target;
            const formData = new FormData(form);
      
            fetch(form.action, {
              method: 'POST',
              body: formData,
            })
            .then(response => response.json())
            .then(data => {
              if (data.success) {
                // Redirigir a `actaperfil_list` después de guardar exitosamente
                window.location.href = data.redirect_url;
              } else {
                // Actualiza el contenido del formulario si hay errores
                editDocModal.querySelector('.modal-body').innerHTML = data.html_form;
              }
            });
          }
        });
    });

    
</script>
{% endblock %}


